.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
  margin-top: 0;
  padding-top: 20px;
  background-color: #ee6e73;
}

.indbg {
    background-image: url("../img/IMG_2372.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
