<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h3 class="header center green-text">The components used to build this site.</h3>
  </div>
</div>

<div class="grey">

<div class="container">

  <div class="section">
    <!--   Icon Section 1  -->
    <div class="row">

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">web</i></h2>
          <h5>Computer</h5>

          <p class="light">A basic PC with internet access.</p>

        </div>
      </div>

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">dashboard</i></h2>
          <h5>Operating System</h5>
            <p><a href="https://www.linuxmint.com/">Linux Mint</a></p>
            <p>
              <a href="https://www.linuxmint.com/">
                <img class="responsive-img" src="img/320px-Linux_Mint_Official_Logo.svg.png">
              </a>
            </p>
          </p>Linux Mint 17.3 Rosa</p>

        </div>
      </div>

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">play_arrow</i></h2>
          <h5>JavaScript Runtime</h5>
          <p><a href="https://nodejs.org/">Node.js®</a></p>
          <p>
            <a href="https://nodejs.org/">
              <img class="responsive-img" src="img/Node.js_logo.svg-c.png">
            </a>
          </p>
          <p>v 5.10.1</p>
        </div>
      </div>

    </div>

  </div>

</div>

</div>

<div class="blue-grey">

<div class="container">

  <div class="section">
    <!--   Icon Section 2  -->
    <div class="row">

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">assessment</i></h2>
          <h5>Package Manager</h5>
            <p><a href="https://www.npmjs.com/">NPM</a></p>
            <p>
              <a href="https://www.npmjs.com/">
                <img class="responsive-img" src="img/Npm-logo.svg.png">
              </a>
            </p>
            <p>v 3.8.3</p>
        </div>
      </div>

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">launch</i></h2>
          <h5>Generator</h5>

          <p><a href="https://harpjs.com/">Harp</p>
          <p>
            <a href="https://harpjs.com/">
              <img class="responsive-img" src="img/harp-wordmark.svg">
            </a>
          </p>
          <p>v 0.20.3</p>
        </div>
      </div>

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">mode_edit</i></h2>
          <h5>Text Editor</h5>

          <p><a href="https://atom.io/">Atom</a><p>
          <p>
            <a>
              <img class="responsive-img" src="img/atom.png">
            </a>
          </p>
          <p>v 1.7.2</p>
        </div>
      </div>

    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
</div>

<div class="grey">

<div class="container">

  <div class="section">
    <!--   Icon Section 3  -->
    <div class="row">

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">web</i></h2>
          <h5>CSS Framework</h5>
          <p><a href="http://materializecss.com/">Materialize</a></p>
          <p>
            <a href="http://materializecss.com/">
              <img class="responsive-img" src="img/materialize.svg">
            </a>
          </p>
        </p>v 0.97.6</p>
        </div>
      </div>

      <div class="center col s12 m4">
        <div class="icon-block">
          <h2 class="light-blue-text"><i class="medium material-icons">web</i></h2>
          <h5>JavaScript library</h5>
          <p><a href="https://jquery.com/">jQuery</a></p>
          <p>
            <a href="https://jquery.com/">
              <img class="responsive-img" src="img/jQuery-Logo_On_Dark.svg">
            </a>
          </p>
        </p>v 2.2.3</p>
        </div>

      </div>

      <div class="center col s12 m4">

      </div>

    </div>

  </div>

</div>

</div>
