<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h3 class="header center green-text">Media examples using Materialize</h3>
  </div>
</div>

<div class="container">
  <img class="responsive-img" src="img/IMG_9853.png">
</div>

<div class="container center">
  <div>
    <img class="materialboxed left" height="200" src="img/IMG_9853.png">
  </div>
  <div>
    <img class="materialboxed left" height="200" src="img/IMG_9856.png">
  </div>
  <div>
    <img class="materialboxed left" height="200" src="img/IMG_9854.png">
  <div class="clearfix"></div>
  </div>
</div>
